$color-dark-shade:   #1F2041;
$color-dark-shade75: rgba(#1F2041, 0.75);
$color-dark-shade50: rgba(#1F2041, 0.50);
$color-dark-shade25: rgba(#1F2041, 0.25);
$color-dark-shade05: rgba(#1F2041, 0.05);

.login {
    background-color: white;
    background-image: url("../../assets/img/login_background.png");
    background-repeat: no-repeat;
    background-size: auto 100%;

    padding: 15rem 0;
}

.register {
    background-color: white;
    background-image: url("../../assets/img/register_background.png");
    background-repeat: no-repeat;
    background-size: auto 100%;

    padding: 15rem 0;
}

.auth-card {
    max-width: 38rem;
    background-color: white;
    display: flex;
    flex-direction: column;

    padding: 3rem;
    border-radius: 0.8rem;

    position: relative; 
    left: 50%;
    transform: translateX(calc(-50%));

    .auth-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .textfield__box {
            margin-bottom: 1rem;
        }
    
        .btn_auth {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap-reverse;

            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    .error-msg {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        margin-top: 0rem;
        margin-bottom: 2rem;

        display: flex;
        justify-content: flex-start;

        max-width: 38rem;
        box-sizing: border-box;
        border-radius: 0.4rem;
        border: 0.1rem solid #F5222D;
        background-color: white;

        span {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            color: #F5222D;

            padding: 0.4rem 0;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 350px) {

    .auth-card .auth-form .btn_auth .btn {
        width: 100%;
    }
}

@media (min-width: 75rem) {

    .login {
        background-size: 100% auto;
    }

    .register {
        background-size: 100% auto;
    }
}
