$color-dark-shade:   #1F2041;
$color-dark-shade75: rgba(#1F2041, 0.75);
$color-dark-shade50: rgba(#1F2041, 0.50);
$color-dark-shade25: rgba(#1F2041, 0.25);
$color-dark-shade05: rgba(#1F2041, 0.05);

* {
    margin: 0;
    padding: 0;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 5.4rem;
    color: $color-dark-shade;

    margin: 5rem 2rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4.0rem;
    color: $color-dark-shade;

    margin: 4rem 2rem;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    color: $color-dark-shade;

    margin: 2rem 0rem;
}

h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-dark-shade;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: $color-dark-shade75;

    margin: 0rem 2rem;
}

time {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-dark-shade75;

    position: relative;
}

.content {
    margin-bottom: 5rem;
}
